%h1= @event.name
.alert.alert-info
  Entrez votre adresse pour accéder à la galerie photo :
= simple_form_for [@event, @client] do |f|
  = f.input :email, input_html: { autofocus: :autofocus, autocomplete: :off }
  = f.submit 'Go', class: 'btn btn-primary'
