Bonjour,
%br
%br
Voici le lien pour les photos :
%br
%br
= link_to client_event_images_url(client_id: @client, event_id: @event) do
  = @event.name
%br
%br
Bonne visualisation.
%br
%br
L'équipe du Studio Cui Cui
