@import 'bourbon'
$grid-gutter-width: 0
@import 'bootstrap'
#images
  .images
    font-size: 0
  .image
    display: inline-block
  #new-images
    position: absolute
    bottom: 0
    left: 0
    right: 0
    text-align: center
    display: none
    a
      padding: 2px 10px
      background: white
