@import 'bourbon'
$grid-gutter-width: 0
@import 'bootstrap'
#images
  .images
    font-size: 0
  .image
    display: inline-block
  #new-images
    position: fixed
    bottom: 20px
    left: 0
    right: 0
    text-align: center
    display: none
    a
      padding: 20px 30px
      background: white
